body{
    color: white;
}

.topspace{
    width:100%;
    height: 60%;
    background-color: rgba(0,0,0,0.5);
    order: 1;
}
iframe{
    position: fixed;
    left: -10px;
    top: -10px;
    width: 110%;
    height: 75px;
    background: rgba(0,0,0,0.3)
}

.bg{
    object-fit: contain;
    overflow: clip;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-10px);
    position: fixed;
    z-index: -1;
}
