<!DOCTYPE html>
<html id="htmlmain" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Events</title>
        <meta name="description" content="A page about Idol Tav">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/events.css">
        <script src="../scripts/layout.js"></script>
    </head>
    <body>
        <div id="trailer"></div>    
        <img src="../media/Tavern_2nd_Anniversary_Canvas_v3.png" class="background" alt="backdrop">
        <!-- Creating navbar -->
        <link rel="stylesheet" href="../styles/normalize.css">
        <link rel="stylesheet" href="../styles/mousetrailer.css">
        <div class="navbar" id="navbar">
            <div class="navbarelement1 navitem"><a href="index.html" class="linker" draggable="false">Home</a></div>
            <div class="navbarelement1 navitem"><a href="ticketing.html" class="linker" draggable="false">Ticketing</a></div>
            <div class="navbarelement1 navitem"><a href="about.html" class="linker" draggable="false">About</a></div>
            <div class="navbarelement1 navitem"><a href="events.html" class="linker" draggable="false">Events</a></div>
            <div class="navbarelement2 navitem"><a href="contacts.html" class="linker" draggable="false">Contacts</a></div>
        </div>
        <script src="../scripts/trailCreate.js"></script>
        <section class="pp">    
            <h1>Ongoing Event</h1>
            <a href="../media/tavernPoster.png">
                <img src="../media/tavernPoster.png" alt="recruiting">
            </a>
        </section>
        <script src="../scripts/mousetrailer.js"></script>
    </body>
</html>