<!DOCTYPE html>
<html id="htmlmain">
    <head>
        <meta charset="utf-8">
        <title>Idol Tav</title>
        <meta name="description" content="A page about Idol Tav">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../scripts/layout.js"></script>
    </head>
    <body>
        <!-- Making layout of grid -->
        <article class="gridcontainer">
            <!-- Creating navbar using js -->
            <script src="../scripts/nav.js" id="replace_with_navbar"></script>
            <!-- Insert background clip here -->
            <!-- Header -->
            <h1>Text</h1>
            <!-- Subtext -->
            <h2>Subtext below header</h2>
            <!-- Creating two carousels -->
        </article>
    </body>
    <!-- Footer for below text (Sponsors, etc) -->
    <footer>
        <p class="sidetext">Brought to you by: </p>
    </footer>
</html>