.background{
    opacity: 50%;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
body{
    background: white;
}
.pp{
    position: relative;
    display: grid;
    justify-content: center;
    flex-direction: column;
}
.layoutPC .pp{
    top: 15vh;
}
.layoutMobile .pp{
    left: 110px;
}
.pp h1{
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    height: 5vh;
    width: 100%;
    color: black;
    text-align: center;
}
.pp img{
    height: 70vh;
}